{erl_opts, [debug_info]}.
{deps, [
    {ekaf, ".*", {git, "git://github.com/helpshift/ekaf.git"}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git"}}
]}.

{relx, [
        {release,
            { gossip, "1.0.0" }, 
            [ gossiper, os_mon, ekaf, jiffy, kernel, sasl]
        },
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, true}
    ]
}.
